*{
    margin:0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
.logo{
    display: flex;
    justify-content: center;
    width: 20%;
    align-items: center;
}
.logo img{
    width: 30%;
    border: 3px solid white;
    border-radius: 50px;

}

.navbar{
    display: flex;
    position: sticky;
    justify-content: center;
    align-items: center;
    top: 0;
    cursor: pointer;
    transition: all 1s ease-out;
    
    
}
.nav-list{
    width: 100%;
    display: flex;
    align-items: center;
    background:url("oof1.jpg");
}
.nav-list li{
    list-style: none;
    padding: 30px 30px;
    display: flex;
    
    
}
.nav-list li a{
    text-decoration: none;
    color:white
}
.nav-list li a:hover{
    color:gray
}
.background{
    background: rgba(0,0,0,0.4) url("oof.jpg");
    background-size: cover;
    background-blend-mode: darken;
    
}
.firstHalf{
    height:100vh;
    width: 45%;
}
.text-big{
    font-size: 40px;
    color: black;

}
.text-small{
    font-size: 30px;
    color: black;
}
.box_main{
    text-align: center;
    display: flex;
    align-items: center;
    padding: 150px;
    justify-content: center;
    
}
.creeper{
    align-items: center;
    padding: 20%;
    width: 60%;
    display: flex;
    
}
.apply{
    background: rgba(0, 0, 0, 0.5) url('mememaths.jpg');
    background-blend-mode: darken;
    
    
    

}
.applysection1{
    color: white;
    font-size: 35px;
    text-decoration: none;
    list-style: none;
}
.discord{
    background: rgba(0, 0, 0, 0.4) url('discord.jpg');
    background-blend-mode: darken;
    

}
.discord-text{
    font-size: 35px;
  
    
}
.discordnote{
    font-size: 35px;
}
.contactnote{
    font-size: 35px;
    color: white;
}
.contact{
    background: rgba(0, 0, 0, 0.4) url('phone2.png');
    background-blend-mode: darken;
}
.contacttext{
    
    font-size: 35px;
    color: white;

}
.text-footer{
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: url('oof1.jpg');
    padding:25px 0px ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.burger{
    display: none;
    position: absolute ;
    cursor: pointer;
    right: 5%;
    top: 15px;
}
.line{
    width: 33px;
    background-color: white;
    height: 4px;
    margin: 3px 3px;

}
@media only screen and (max-width: 1014px){
    .nav-list{
       flex-direction: column;
    }
    .burger{

        display: block;
    }
    .h-nav-resp{
        height: 100px;
    }
    .v-class-resp{
        opacity: 0;
    }
    .navbar{
        
        flex-direction: column;
        transition: all 0.3s ease-out;
    }
    .text-small{
        font-size: 20px;
        width: 100%;
        
    }
    .text-big{
        font-size: 25px ;
        text-align: center;
    
    }

}
    







